# Ejecutables (Windows y Linux)
*.exe
*.out

# Archivos compilados
*.o

# Ejecutables sin extensión (Linux)
concurrente
hilos
maestro
paralelo
pc
secuencial

# Configuración de VS Code
.vscode/

# Archivos temporales
*.log
