# ===========================
# Ejecutables
# ===========================
*.exe
*.out
*.o

# Ejecutables generados
bin/

# ===========================
# Configuración de VS Code
# ===========================
.vscode/

# ===========================
# Archivos de registro
# ===========================
*.log

# ===========================
# Reportes generados por el programa
# ===========================
docs/Reporte_Empleados*

# ===========================
# Archivos temporales de Office
# ===========================
~$*